.restaurants {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}
.restaurants th, .restaurants td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.restaurants th, .restaurants td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.restaurants td {
    background: #D8E6F3;
}
.restaurants th:first-child, .restaurants td:first-child {
    text-align: left;
}
#description {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flat   {
    border:1px solid transparent;
    background: #AFCDE7;
    border-bottom:1px solid black;
}
.flat:hover
{
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    border-right:1px solid #888;
    border-bottom:1px solid #888;
    cursor: pointer;
}
.new-restaurant {
    border:1px solid transparent;
    background: #D8E6F3;
}

body {
    margin:0;
    padding:0;
    background: #edebd5;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}
#container {
    width:800px; /*Ширина блока*/
    height:600px; /*Высота блока*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-400px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-400px; /*Смещаем блок на половину высоты вверх*/
    background:#ffffff;
}
.main {
    height:100%;
}
.main_in_main {
    height:100%;
}
.content {
    padding-top:0px;
    height:200px;
}

#user {
    width:800px; /*Ширина блока*/
    height:600px; /*Высота блока*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-400px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-400px; /*Смещаем блок на половину высоты вверх*/
    background:#ffffff;
    z-index: 100000;
    display: none;
}